
# compiled output
dist
out
build
node_modules
hack
bin

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem

# Tests
coverage
.nyc_output

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.iml

# others
.env
.envrc
.husky
.pnp
.pnp.js
.vercel
.next
.tsbuildinfo
/src/library/dina-http-server/yarn.lock
src/library/dina-http-server/.gitignore
src/library/dina-http-server/README.md
src/library/dina-http-server/lib/
src/library/dina-http-server/package.json
src/library/dina-http-server/src/core/
src/library/dina-http-server/src/decorators/
src/library/dina-http-server/src/experiment/
src/library/dina-http-server/src/index.ts
src/library/dina-http-server/src/middleware/
src/library/dina-http-server/src/types/
src/library/dina-http-server/tsconfig.json
src/library/dina-web-session/src/web-session-database.ts
src/library/dina-web-session/src/web-session-middleware.ts
src/library/dina-web-session/src/web-session.ts
src/library/sqlite3/db-handler-base.d.ts
src/library/sqlite3/db-handler-base.d.ts.map
src/library/sqlite3/db-handler-base.js.map
src/library/sqlite3/sqlite3-db-handler.d.ts
src/library/sqlite3/sqlite3-db-handler.d.ts.map
src/library/sqlite3/sqlite3-db-handler.js.map
src/library/sqlite3/sqlite3-db.d.ts
src/library/sqlite3/sqlite3-db.d.ts.map
src/library/sqlite3/sqlite3-db.js.map
src/library/sqlite3/sqlite3-db.type.d.ts
src/library/sqlite3/sqlite3-db.type.d.ts.map
src/library/sqlite3/sqlite3-db.type.js.map
test/unit-tests/
/retardo-query/
